extends ../layout

block content
  nav.navbar.navbar-light.bg-light.mb-4
    .container-fluid
      span.navbar-brand.mb-0.h1 Avans Klantenbeheer
      .d-flex
        a.btn.btn-secondary.me-2(href='/dashboard') Home
        button.btn.btn-danger#logoutBtn(type='button') Logout

  .d-flex.justify-content-center.align-items-center.min-vh-100
    .card.shadow.p-4(style="width: 900px;")
      h3.text-center.mb-4 Klantenoverzicht
      table.table.table-striped.align-middle
        thead
          tr
            th First Name
            th Last Name
            th Email
            th Active
            th.text-center Details
            th.text-center Verwijderen
        tbody
          each user in users
            tr
              td #{user.first_name}
              td #{user.last_name}
              td #{user.email}
              td #{user.active ? 'Actief' : 'Inactief'}
              td.text-center
                a.btn.btn-primary.btn-sm(href='/users/' + user.customer_id + '/details') Details
              td.text-center
                a.btn.btn-danger.btn-sm(onclick=`deleteButtonClicked(${user.customer_id},this)`) Verwijderen


